---
extends: stylelint-config-standard
rules:
  indentation: 4
  unit-whitelist: ["em", "rem", "%", "s", "px"]
  property-no-unknown: [true, { ignoreProperties: ["composes"] }]
  comment-empty-line-before: null
  length-zero-no-unit: null
  function-comma-space-after: null
  property-case: null
